<!-- partials/navbar.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-transparent fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#home">Rishi Gurnani</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <!-- Primary Tabs -->
        <li class="nav-item">
          <a class="nav-link" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link important" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link important" href="#publications">Publications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://rishigurnani.github.io/blog/" target="_blank">Blog</a>
        </li>
        <!-- More Dropdown for Subtabs -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="moreDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-bars"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="moreDropdown">
            <li><a class="dropdown-item" href="#dissertation">More from Rishi</a></li>
            <li><a class="dropdown-item" href="#news">News</a></li>
            <li><a class="dropdown-item" href="#contact">Contact</a></li>
          </ul>
        </li>     
      </ul>
    </div>
  </div>
</nav>
